h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.contentContainer {
  width: 400px;
  height: 300px;
}

.consolePanel {
  width: 400px;
  height: 300px;
}

.consoleButton {
  width: 200px;
}

.commandsContainer {
  width: 400px;
  height: 260px;
}